<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            height: 900px;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            font-size: x-large;
        }
    </style>
</head>
<body  style="background-color: cornflowerblue;">
    <form action="/user/Password" method="post">
        <!-- <label for="" >Enter your email: </label>
        <input type="text " name="email" required>
        <br>    <br> -->
        <label for="">old Password :</label>
        <input type="text" name="oldpassword" required autofocus >
        <br>    <br>
        <label for="">New Password :</label>
        <input type="text" name="newpassword">
        <br>    <br>
        <button>Submit</button>
    </form>
</body>
</html>