<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body{
            height: 900px;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            font-size: x-large;
        }
    </style>
</head>
<body style="background-color: rgb(205, 73, 152);">


    <form action="/user/Update" method="post">
      


         <label for="">New  Email :</label>
         <input type="text" name="neweamil" required>

         <label for="">Comform Email :</label>
         <input type="text" name="comemail" required>

         <label for="">Full Name :</label>
         <input type="text" name="name">

         <button>Submite</button>




         
    </form>
    

</body>
</html>